.inactive {
    background-color: #eeeeee !important;
}

.help-block,
{
    color: #a94442;
}

input.ng-invalid {
    border: 1px solid #a94442;
}
          
input.ng-valid{
    border: 1px solid green;
}

.error{
	color: #a94442;
}

ol{
	list-style-type:demical;
	margin: 0;
}  
ol li{ 
	list-style-position:outside;
	text-align: left;
} 