<div class="row" data-ng-controller="CourseCtrl">
  <div class="col-lg-12">
		<rd-widget>
			<rd-widget-header icon="fa-calendar-times-o" title="Course">

			</rd-widget-header>

			<input class="btn btn-default" type="button" ng-click="addCourseModal()" value="Add Course">
			<div class="table-responsive" style="max-height: 600px;">
					<table ng-table="tableParams" class="table table-condensed table-bordered table-striped" show-filter="false">
			            <tr ng-repeat="item in $data" ng-class="{'inactive':!item.active}">
			            		<td title="'Course'" sortable="'courseName'" class="text-center">{{item.courseName}}</td>
				                <td title="'Price'" sortable="'price'" class="text-center">{{item.price}}</td>
				                <td title="'URL'" sortable="'url'" class="text-center"><a href="{{item.url}}">{{item.url}}</a> </td>
				                <td title="'Start Date'" sortable="'startDate'" class="text-center">{{item.startDate | date:'yyyy-MM-dd'}}</td>
				                <td title="'End Date'" sortable="'endDate'" class="text-center">{{item.endDate | date:'yyyy-MM-dd'}}</td>
				                <td title="'Operation'" class="text-center" >
				                	<span  ng-if="!item.active" style="width: 80px;margin-left: 10px; margin-right: 10px;">Update</span>	
				                	<a ng-click="updateCourseModal(item)" ng-if="item.active" style="width: 80px;margin-left: 10px; margin-right: 10px;">Update</a>
				                	<a ng-click="inactiveCourse(item)" ng-if="item.active" style="width: 80px;">Inactive</a>
				                	<a ng-click="activeCourse(item)" ng-if="!item.active" style="width: 80px;">&nbsp;Active&nbsp;</a>
				                </td>	
			            </tr>
			        </table>
        		</div>

		<rd-widget>
	</div>
  	<script type="text/ng-template" id="courseModal.html" />  
        <div class="modal-header">  
            <h3 ng-if="!isModify">Add Course</h3> 
            <h3 ng-if="isModify">Update Course</h3> 
        </div>  
        <div class="modal-body">  
            <form class="form-horizontal" name="courseForm" novalidate>

			  <div class="form-group">
			    <label for="inputCourse" class="col-sm-4 control-label">Course Name*</label>
			    <div class="col-sm-8">
			      <input type="text" ng-model="course.courseName" class="form-control" id="inputCourse" placeholder="Course Name" required>
			    </div>
			  </div>

			  <div class="form-group">
			    <label for="inputPrice" class="col-sm-4 control-label">Price*</label>
			    <div class="col-sm-8">
			      <input type="text" ng-model="course.price" class="form-control" id="inputPrice" placeholder="Price" required>
			    </div>
			  </div>
			  
			  <div class="form-group">
			    <label for="inputUrl" class="col-sm-4 control-label">URL</label>
			    <div class="col-sm-8">
			      <input type="text" ng-model="course.url" class="form-control" id="inputUrl" placeholder="URL" >
			    </div>
			  </div>
			  <div class="form-group">
			    <label for="inputStartDate" class="col-sm-4 control-label">Start Date</label>
			    <div class="col-sm-8">
			    	<div class="input-group ">
				      <input type="text" ng-model="course.startDate" class="form-control" datepicker-popup="shortDate1" is-open="openedStartDate" uib-datepicker-popup placeholder="Start Date" data-date-format="yyyy-mm-dd"/>
				      <div class="input-group-addon" ng-click="openStartDate($event)">
				      	<i class="glyphicon glyphicon-calendar"></i>
				      </div>
				    </div>
			    </div>
			  </div>
			  <div class="form-group">
			    <label for="inputEndDate" class="col-sm-4 control-label">End Date</label>
			    <div class="col-sm-8">
			    	<div class="input-group ">
				      <input type="text" ng-model="course.endDate" class="form-control" datepicker-popup="shortDate2" is-open="openedEndDate" uib-datepicker-popup placeholder="End Date" data-date-format="yyyy-mm-dd"/>
				      <div class="input-group-addon" ng-click="openEndDate($event)">
				      	<i class="glyphicon glyphicon-calendar"></i>
				      </div>
				    </div>
			    </div>
			  </div>
			</form>
        </div>  
        <div class="modal-footer">  
            <button type="submit" class="btn btn-default" ng-click="submitCourseData()">Submit</button>
			<button type="cancel" class="btn btn-default" ng-click="closeCourseModal()">Cancel</button>
        </div>  
    </script> 
</div>