<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <settings>
	<setting name="logPrefix" value="dao." />
  </settings>
  <typeAliases>
    <package name="com.cisco.la.model"/>
  </typeAliases>
  <mappers>
    <mapper resource="com/cisco/la/mapper/CourseModelMapper.xml" />
    <mapper resource="com/cisco/la/mapper/CourseHistoryModelMapper.xml" />
    <mapper resource="com/cisco/la/mapper/GoldenSampleModelMapper.xml" />
    <mapper resource="com/cisco/la/mapper/RoleHistoryModelMapper.xml" />
    <mapper resource="com/cisco/la/mapper/RoleModelMapper.xml" />
    <mapper resource="com/cisco/la/mapper/MessageModelMapper.xml" />
    <mapper resource="com/cisco/la/mapper/UserModelMapper.xml" />
    <mapper resource="com/cisco/la/mapper/RecordModelMapper.xml" />
    <mapper resource="com/cisco/la/mapper/QuizModelMapper.xml" />
    <mapper resource="com/cisco/la/mapper/QuestionModelMapper.xml" />
    <mapper resource="com/cisco/la/mapper/PaperModelMapper.xml" />
    <mapper resource="com/cisco/la/mapper/FlyerModelMapper.xml" />
    <mapper resource="com/cisco/la/join/GoldenSampleJoinMapper.xml" />
    <mapper resource="com/cisco/la/join/RoleMapper.xml" />
    <mapper resource="com/cisco/la/join/MessageJoinMapper.xml" />
    <mapper resource="com/cisco/la/join/CourseJoinMapper.xml" />
    <mapper resource="com/cisco/la/join/RoleHistoryJoinMapper.xml" />
  	<mapper resource="com/cisco/la/join/CourseHistoryJoinMapper.xml" />
  	<mapper resource="com/cisco/la/join/UserJoinMapper.xml" />
  	<mapper resource="com/cisco/la/join/QuizJoinMapper.xml" />
  	<mapper resource="com/cisco/la/join/PaperJoinMapper.xml" />
  </mappers>
</configuration>








