<div class="row" data-ng-controller="EmployeeCtrl">
  	

  	<div class="col-lg-12">
		<rd-widget>
			<rd-widget-header icon="fa-users" title="User">

			</rd-widget-header>
			<input class="btn btn-default" type="button" ng-click="addUserModal()" value="Add User">
			
			<input class="btn btn-default" type="button" ng-click="importUserModal()" value="Synchronize user data">

				<div class="table-responsive" style="max-height: 600px">
					<table ng-table="tableParams" class="table table-condensed table-bordered table-striped" show-filter="false">
			            <tr ng-repeat="item in $data" ng-class="{'inactive':!item.active}">
			                	<td title="'Spark Account'" sortable="'id'" class="text-center">
			                		<a ng-click="viewUserModal(item)">{{item.id}}</a>
			                	</td>
				                <td title="'Name'" sortable="'name'" class="text-center">{{item.name}}</td>
				                <td title="'Budget'" sortable="'budget'" class="text-center">{{item.budget}}</td>
				                <td title="'Balance'" sortable="'balance'" class="text-center">{{item.balance}}</td>
				                <td title="'BU'" sortable="'bu'" class="text-center">{{item.bu}}</td>
				                <td title="'Role'" sortable="'roleName'" class="text-center">{{item.roleName}}</td>
				                <td title="'Title'" sortable="'title'" class="text-center">{{item.title}}</td>
				                <td title="'Grade'" sortable="'grade'" class="text-center">{{item.grade}}</td>  
				                <td title="'Operation'" class="text-center">
				                	<!--
				                	<a ng-click="getHistoryModal(item)" style="width: 80px;margin-left: 10px; margin-right: 10px;">Career Path</a>
				                	-->
				                	<span ng-if="!item.active" style="width: 80px;margin-left: 10px; margin-right: 10px">Update</span>	
				                	<a ng-click="updateUserModal(item)" ng-if="item.active" style="width: 80px;margin-left: 10px; margin-right: 10px">Update</a>
				                	<a ng-click="inactiveUser(item)" ng-if="item.active" style="width: 80px">Inactive</a>
				                	<a ng-click="activeUser(item)" ng-if="!item.active" style="width: 80px">&nbsp;Active&nbsp;</a>
				                </td>	
			            </tr>
			        </table>
        		<div>

		<rd-widget>
	</rd-widget></div>
</div></rd-widget></div></div>