<div class="row" data-ng-controller="EmployeeCtrl">
  <div class="col-lg-12">
		<rd-widget>
			<rd-widget-header icon="fa-users" title="Users">

			</rd-widget-header>
			<input class="btn btn-default" type="button" ng-click="addUserModal()" value="Add User">
			<rd-widget-body classes="medium no-padding">
				<div class="table-responsive">
					<table ng-table="tableParams" class="table table-condensed table-bordered table-striped" show-filter="false">
			            <tr ng-repeat="item in $data" ng-class="{'inactive':!item.active}">
			                	<td title="'Spark Account'" sortable="'id'" class="text-center">{{item.id}}</td>
				                <td title="'Name'" sortable="'name'" class="text-center">{{item.name}}</td>
				                <td title="'Budget'" sortable="'budget'" class="text-center">{{item.budget}}</td>
				                <td title="'Balance'" sortable="'balance'" class="text-center">{{item.balance}}</td>
				                <td title="'BU'" sortable="'bu'" class="text-center">{{item.bu}}</td>
				                <td title="'Role'" sortable="'roleName'" class="text-center">{{item.roleName}}</td>
				                <td title="'Title'" sortable="'title'" class="text-center">{{item.title}}</td>
				                <td title="'Grade'" sortable="'grade'" class="text-center">{{item.grade}}</td>  
				                <td title="'Operation'" class="text-center">
				                	<span ng-if="!item.active" style="width: 80px;margin-left: 10px; margin-right: 10px">Update</span>	
				                	<a ng-click="updateUserModal(item)" ng-if="item.active" style="width: 80px;margin-left: 10px; margin-right: 10px">Update</a>
				                	<a ng-click="inactiveUser(item)" ng-if="item.active" style="width: 80px">Inactive</a>
				                	<a ng-click="activeUser(item)" ng-if="!item.active" style="width: 80px">&nbsp;Active&nbsp;</a>
				                </td>	
			            </tr>
			        </table>
        		</div>
			</rd-widget-body>
		<rd-widget>
	</rd-widget></rd-widget></div>

    <script type="text/ng-template" id="addUserModal.html">  
        <div class="modal-header">  
            <h3 ng-if="!isModify">Add User</h3> 
            <h3 ng-if="isModify">Update User</h3> 
        </div>  
        <div class="modal-body">  
            <form class="form-horizontal" name="userForm" novalidate>
			  <div class="form-group">
			    <label for="inputSpark" class="col-sm-4 control-label">Spark Account*</label>
			    <div class="col-sm-8">
			      <input type="email" name="id" ng-model="user.id" class="form-control" id="inputSpark" placeholder="Spark Account e.g. robot@ge.com" required>
			    </div>
			  </div>
			  <div class="form-group">
			    <label for="inputName" class="col-sm-4 control-label">Name*</label>
			    <div class="col-sm-8">
			      <input type="text" ng-model="user.name" class="form-control" id="inputName" placeholder="Name" required>
			    </div>
			  </div>
			  <div class="form-group">
			    <label for="inputBudget" class="col-sm-4 control-label">Budget*</label>
			    <div class="col-sm-8">
			      <input type="number" ng-model="user.budget" class="form-control" id="inputBudget" placeholder="Budget" required>
			    </div>
			  </div>
			  <div class="form-group">
			    <label for="inputBalance" class="col-sm-4 control-label">Balance*</label>
			    <div class="col-sm-8">
			      <input type="number" ng-model="user.balance" class="form-control" id="inputBalance" placeholder="Balance" required>
			    </div>
			  </div>
			  <div class="form-group">
			    <label for="inputBU" class="col-sm-4 control-label">BU*</label>
			    <div class="col-sm-8">
			      <input type="text" ng-model="user.bu" class="form-control" id="inputBU" placeholder="BU" required>
			    </div>
			  </div>
			  <div class="form-group">
			    <label for="inputRole" class="col-sm-4 control-label">Role*</label>
			    <div class="col-sm-8">
			      <input type="text" ng-model="user.roleName" class="form-control" id="inputRole" placeholder="Role" required>
			    </div>
			  </div>
			  <div class="form-group">
			    <label for="inputJobTitle" class="col-sm-4 control-label">Job Title</label>
			    <div class="col-sm-8">
			      <input type="text" ng-model="user.title" class="form-control" id="inputJobTitle" placeholder="Job Title">
			    </div>
			  </div>
			  <div class="form-group">
			    <label for="inputGrade" class="col-sm-4 control-label">Grade</label>
			    <div class="col-sm-8">
			      <input type="text" ng-model="user.grade" class="form-control" id="inputGrade" placeholder="Grade">
			    </div>
			  </div>
			</form>
        </div>  
        <div class="modal-footer">  
            <button type="submit" class="btn btn-default" ng-click="submitUserData()">Submit</button>
			<button type="cancel" class="btn btn-default" ng-click="closeUserModal()">Cancel</button>
        </div>  
     
</div>