<div class="row" data-ng-controller="FlyerCtrl">
  <div class="col-lg-12">
		<rd-widget>
			
			<rd-widget-header icon="fa-comments" title="Flyer">	
			</rd-widget-header>
			<input class="btn btn-default" type="button" ng-click="addFlyerModal()" value="Add Flyer">
			
				<div class="table-responsive" style="max-height: 600px">
					<table ng-table="tableParams" class="table table-condensed table-bordered table-striped" show-filter="false">
			            <tr ng-repeat="item in $data" ng-class="{'inactive':!item.active}">
			            		<td title="'ID'" sortable="'id'" class="text-center">{{item.id}}</td>
				                <td title="'Audience Type'" sortable="'audienceType'" class="text-center">{{item.audienceTypeValue}}</td>
				                <td title="'Active Time'" sortable="'activeTime'" class="text-center">{{item.activeTime | date: 'yyyy-MM-dd HH:mm' : GMT}}</td><!--GMT+0800-->
				                <td title="'Operation'" class="text-center">
				                	<a ng-click="updateFlyerModal(item)" style="width: 80px;margin-left: 10px; margin-right: 10px">Update</a>
				                	<a ng-click="deleteFlyer(item.id)" style="width: 80px;margin-left: 10px; margin-right: 10px">Delete</a>
				                	<!--
				                	<span  style="width: 80px;margin-left: 10px; margin-right: 10px;">Update</span>	
				                	
				                	<a ng-click="inactiveFlyer(item)" ng-if="item.active" style="width: 80px;">Inactive</a>
				                	<a ng-click="activeFlyer(item)" ng-if="!item.active" style="width: 80px;">&nbsp;Active&nbsp;</a>
				                	-->
				                </td>	
			            </tr>
			        </table>
        		</div>

		<rd-widget>
	</rd-widget></rd-widget></div>
  	<script type="text/ng-template" id="flyerModal.html">  
        <div class="modal-header bg-info">   
            <span ng-if="!isModify">Add Flyer</span> 
            <span ng-if="isModify">Update Flyer</span> 
        </div>  
        <div class="modal-body">  
            <form class="form-horizontal" name="flyerForm" novalidate="novalidate" ng-submit="submitFlyerData()">
	              <div class="form-group">
						<label for="selectCourseName" class="col-lg-2 control-label">Content*</label>
						<div class="col-lg-8">
							<textarea class="form-control" rows="5" ng-model="flyer.content" required></textarea>
						</div>
				  </div>	
				  <div class="form-group">
				    <label for="datetimepicker" class="col-lg-2 control-label">Active Time*</label>
				    <div class="col-lg-8">
				      	<input type="text" class="form-control" ng-model="flyer.activeTime" id="datetimepicker" ng-click="openDatePicker()" required>
				    </div>
				  </div>
				  <div class="form-group">
				    <label for="inputJobTitle" class="col-lg-2 control-label">Audience Type</label>
				    <div class="col-lg-8">
				      <input type="radio" name="audienceType" value="R" ng-model="flyer.audienceType" ng-checked="flyer.audienceType=='R'"><span>By Role</span> 
				      <input type="radio" name="audienceType" value="U" ng-model="flyer.audienceType" ng-checked="flyer.audienceType=='U'" style="margin-left: 30px"><span>By User</span> 
				    </div>
				  </div>
				  <div class="form-group">
				    <label for="inputGrade" class="col-lg-2 control-label">Audience List</label>
				    <div class="col-lg-8" ng-if="flyer.audienceType=='R'">
				      <ui-select multiple="multiple" ng-model="flyer.roleList" theme="bootstrap" ng-disabled="disabled" sortable="true" close-on-select="false" style="width: 100%">
					    <ui-select-match placeholder="Select role...">{{$item.roleName}} </ui-select-match>
					    <ui-select-choices repeat="role in roles | filter:{active:true}">
					      <div ng-bind-html="role.roleName | highlight: $select.search"></div>
					      <small>
					        role: {{role.roleName}}
					      </small>
					    </ui-select-choices>
					  </ui-select>
				    </div>

				    <div class="col-lg-8" ng-if="flyer.audienceType=='U'">
				      <ui-select multiple="multiple" ng-model="flyer.userList" theme="bootstrap" ng-disabled="disabled" sortable="true" close-on-select="false" style="width: 100%">
					    <ui-select-match placeholder="Select user...">{{$item.id}} </ui-select-match>
					    <ui-select-choices repeat="user in users | filter:{active:true}">
					      <div ng-bind-html="user.id | highlight: $select.search"></div>
					      <small>
					        name: {{user.name}}
					      </small>
					    </ui-select-choices>
					  </ui-select>
				    </div>

				  </div>
				  <div style="text-align: center">  
			            <button type="submit" class="btn btn-default" ng-disabled="flyerForm.$invalid || dataLoading">Submit</button>
			            <div style="width: 20px;display: inline-block">
			            <img ng-if="dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==">
			            </div>
						<button type="button" class="btn btn-default" ng-click="closeFlyerModal()">Cancel</button>
			        </div>  
				</form>
        </div> 
     
</div>