<div class="row" data-ng-controller="GoldenSampleCtrl">
  <div class="col-lg-12">
		<rd-widget>
			<rd-widget-header icon="fa-university" title="GoldenSample1">

			</rd-widget-header>
			
			
		
				
			<input class="btn btn-default" type="button" ng-click="addGoldenSampleModal()" value="Add GoldenSample">
			
				<div class="table-responsive" style="max-height: 600px">
					<table ng-table="tableParams" class="table table-condensed table-bordered table-striped" show-filter="false">
			            <tr ng-repeat="item in $data" ng-class="{'inactive':!item.active}">
			            		<td title="'GoldenSample'" sortable="'goldenSampleName'" class="text-center">{{item.goldenSampleName}}</td>
				                <td title="'Role'" sortable="'roleName'" class="text-center">{{item.roleName}}</td>
				                <td title="'Mandatory'" sortable="'mandatoryName'" class="text-center">
				                	<ol>
									   <li ng-repeat="subCourse in item.mandatoryName.split(',')">
									   		{{subCourse}}
									   </li>
									</ol>
				                </td>
				                <td title="'Optional'" sortable="'optionalName'" class="text-center">
				                	
				                	<ol>
									   <li ng-repeat="subCourse in item.optionalName.split(',')">
									   		{{subCourse}}
									   </li>
									</ol>
				                </td>  
				                <td title="'Operation'" class="text-center">
				                	<span ng-if="!item.active" style="width: 80px;margin-left: 10px; margin-right: 10px">Update</span>	
				                	<a ng-click="updateGoldenSampleModal(item)" ng-if="item.active" style="width: 80px;margin-left: 10px; margin-right: 10px">Update</a>
				                	<a ng-click="inactiveGoldenSample(item)" ng-if="item.active" style="width: 80px">Inactive</a>
				                	<a ng-click="activeGoldenSample(item)" ng-if="!item.active" style="width: 80px">&nbsp;Active&nbsp;</a>
				                </td>	
			            </tr>
			        </table>
        		</div>

		<rd-widget>
	</rd-widget></rd-widget></div>
  	<script type="text/ng-template" id="goldenSampleModal.html">  
        <div class="modal-header">  
            <h3 ng-if="!isModify">Add Golden Sample</h3> 
            <h3 ng-if="isModify">Update Golden Sample</h3> 
        </div>  
        <div class="modal-body">  
            <form class="form-horizontal" name="goldenSampleForm" novalidate>
            <!--
              <h3>Array of objects (sorting enabled)</h3>
			  <ui-select multiple ng-model="multipleDemo.selectedPeople" theme="bootstrap" ng-disabled="disabled" sortable="true" close-on-select="false" style="width: 800px;">
			    <ui-select-match placeholder="Select person...">{{$item.name}} &lt;{{$item.email}}&gt;</ui-select-match>
			    <ui-select-choices repeat="person in people">
			      <div ng-bind-html="person.name | highlight: $select.search"></div>
			      <small>
			        email: {{person.email}}
			        age: <span ng-bind-html="''+person.age | highlight: $select.search"></span>
			      </small>
			    </ui-select-choices>
			  </ui-select>
			  <p>Selected: {{multipleDemo.selectedPeople}}</p>
				-->
			  <div class="form-group">
			    <label for="inputGoldenSample" class="col-sm-4 control-label">GoldenSample*</label>
			    <div class="col-sm-8">
			      <input type="text" ng-model="goldenSample.goldenSampleName" class="form-control" id="inputGoldenSample" placeholder="GoldenSample" required>
			    </div>
			  </div>

			  <div class="form-group">
			    <label for="inputBU" class="col-sm-4 control-label">Role*</label>
			    <div class="col-sm-8">
			      <select ng-model="goldenSample.roleID" ng-init="goldenSample.roleID=roles[0].id" class="form-control" ng-options="role.id as role.roleName for role in roles">
                   </select>
			    </div>
			  </div>
			  
			  <div class="form-group" style="min-height: 60px">
			    <label for="inputJobTitle" class="col-sm-4 control-label">Mandatory*</label>
			    <div class="col-sm-8">
			      <ui-select multiple="multiple" ng-model="goldenSample.mandatoryCourse" theme="bootstrap" ng-disabled="disabled" sortable="true" close-on-select="false" style="width: 100%">
				    <ui-select-match placeholder="Select course...">{{$item.courseName}} </ui-select-match>
				    <ui-select-choices repeat="course in courses">
				      <div ng-bind-html="course.courseName | highlight: $select.search"></div>
				      <small>
				        course: {{course.courseName}}
				      </small>
				    </ui-select-choices>
				  </ui-select>
			    </div>
			  </div>
			  <div class="form-group" style="min-height: 60px">
			    <label for="inputGrade" class="col-sm-4 control-label">Optional</label>
			    <div class="col-sm-8">
			      <ui-select multiple="multiple" ng-model="goldenSample.optionalCourse" theme="bootstrap" ng-disabled="disabled" sortable="true" close-on-select="false" style="width: 100%">
				    <ui-select-match placeholder="Select course...">{{$item.courseName}} </ui-select-match>
				    <ui-select-choices repeat="course in courses">
				      <div ng-bind-html="course.courseName | highlight: $select.search"></div>
				      <small>
				        course: {{course.courseName}}
				      </small>
				    </ui-select-choices>
				  </ui-select>
			    </div>
			  </div>
			</form>
        </div>  
        <div class="modal-footer">  
            <button type="submit" class="btn btn-default" ng-click="submitGoldenSampleData()">Submit</button>
			<button type="cancel" class="btn btn-default" ng-click="closeGoldenSampleModal()">Cancel</button>
        </div>  
     
</div>