<div class="row" data-ng-controller="SettingCtrl">
  <div class="col-lg-12">
		<rd-widget>
			
			<rd-widget-header icon="fa-certificate" title="Setting">	
			</rd-widget-header>
			
				<div class="table-responsive" style="max-height: 600px">
					<div class="modal-body" style="height: 180px">

	                    <div class="importUserInfo">
	                        <a href="javascript:;" class="file"><input name="" type="file" onchange="angular.element(this).scope().fileChanged(this)"></a>
	                    </div>
	                    <button class="btn_uploadfile" ng-click="uploadFile()" ng-disabled="dataLoading">上&nbsp;传</button>
	                    <div style="width: 20px;display: inline-block">
	                    <img ng-if="dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==">
	                    </div>
	                    <div style="display: none">
	                        <button type="button" href="#" class="btn_importTemp" ng-click="exportTemplate()">导入模板下载</button>
	                    </div>
	                </div>
        		</div>

		<rd-widget>
	</rd-widget></rd-widget></div>

</div>