.inactive {
  background-color: #eeeeee !important;
}
.help-block {
  color: #a94442;
}
input.ng-invalid {
  border: 1px solid #a94442;
}
input.ng-valid {
  border: 1px solid green;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style-type: none;
}
